USE [master]
GO
/****** Object:  Database [QuanLyNhaHang_K235480106100]    Script Date: 03/05/2026 10:54:30 CH ******/
CREATE DATABASE [QuanLyNhaHang_K235480106100]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaHang_K235480106100', FILENAME = N'D:\My CODE\SQL Sever Standard\Microsoft SQL Server\Program Files Root\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHang_K235480106100.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaHang_K235480106100_log', FILENAME = N'D:\My CODE\SQL Sever Standard\Microsoft SQL Server\Program Files Root\MSSQL17.MSSQLSERVER\MSSQL\DATA\QuanLyNhaHang_K235480106100_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaHang_K235480106100].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaHang_K235480106100]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_DanhGiaHieuSuatBanAn]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_DanhGiaHieuSuatBanAn]
(
    @Thang INT,
    @Nam INT
)
RETURNS @BangKetQua TABLE 
(
    [MaBanAn] INT,
    [TenBanAn] NVARCHAR(50),
    [SoLanPhucVu] INT,
    [TongDoanhThu] MONEY,
    [XepLoai] NVARCHAR(50)
)
AS
BEGIN

    INSERT INTO @BangKetQua ([MaBanAn], [TenBanAn], [SoLanPhucVu], [TongDoanhThu])
    SELECT 
        B.[MaBanAn],
        B.[TenBanAn],
        COUNT(H.[MaHoaDon]),
        SUM([dbo].[fn_TinhTongTienHoaDon](H.[MaHoaDon])) 
    FROM [BanAn] B
    LEFT JOIN [HoaDon] H ON B.[MaBanAn] = H.[MaBanAn] 
                         AND MONTH(H.[NgayLapHoaDon]) = @Thang 
                         AND YEAR(H.[NgayLapHoaDon]) = @Nam
    GROUP BY B.[MaBanAn], B.[TenBanAn];

    UPDATE @BangKetQua
    SET [XepLoai] = 
        CASE 
            WHEN [TongDoanhThu] > 1000000 THEN N'Bàn Năng Suất Cao'
            WHEN [TongDoanhThu] IS NULL OR [TongDoanhThu] = 0 THEN N'Không Có Khách'
            ELSE N'Bàn Tiêu Chuẩn'
        END;

    RETURN;
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TinhTongTienHoaDon]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_TinhTongTienHoaDon] 
(
    @MaHoaDon INT
)
RETURNS MONEY
AS
BEGIN
    DECLARE @TongTien MONEY;

    SELECT @TongTien = SUM([SoLuongMonAn] * [DonGiaTaiThoiDiemBan])
    FROM [ChiTietHoaDon]
    WHERE [MaHoaDon] = @MaHoaDon;

    RETURN COALESCE(@TongTien, 0);
END;
GO
/****** Object:  Table [dbo].[ThucDon]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThucDon](
	[MaMonAn] [int] IDENTITY(1,1) NOT NULL,
	[TenMonAn] [nvarchar](100) NOT NULL,
	[LoaiMonAn] [nvarchar](50) NOT NULL,
	[GiaBanMonAn] [money] NOT NULL,
	[PhanTramGiamGia] [float] NULL,
	[TrangThaiPhucVu] [bit] NULL,
 CONSTRAINT [PK_ThucDon] PRIMARY KEY CLUSTERED 
(
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_TimMonAnTheoTaiChinh]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[fn_TimMonAnTheoTaiChinh] 
(
    @LoaiMonAn NVARCHAR(50),
    @GiaToiDa MONEY
)
RETURNS TABLE 
AS
RETURN 
(
    SELECT 
        [MaMonAn], 
        [TenMonAn], 
        [LoaiMonAn], 
        [GiaBanMonAn],
        [TrangThaiPhucVu]
    FROM [ThucDon]
    WHERE [LoaiMonAn] = @LoaiMonAn 
      AND [GiaBanMonAn] <= @GiaToiDa
      AND [TrangThaiPhucVu] = 1 
);
GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[MaBanAn] [int] IDENTITY(1,1) NOT NULL,
	[TenBanAn] [nvarchar](50) NOT NULL,
	[KhuVucBanAn] [nvarchar](50) NOT NULL,
	[SucChuaBanAn] [int] NOT NULL,
 CONSTRAINT [PK_BanAn] PRIMARY KEY CLUSTERED 
(
	[MaBanAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [int] NOT NULL,
	[MaMonAn] [int] NOT NULL,
	[SoLuongMonAn] [int] NOT NULL,
	[DonGiaTaiThoiDiemBan] [money] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[MaMonAn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHoaDon] [int] IDENTITY(1,1) NOT NULL,
	[MaBanAn] [int] NOT NULL,
	[NgayLapHoaDon] [datetime] NULL,
	[TongTienHoaDon] [money] NULL,
	[TrangThaiThanhToan] [nvarchar](50) NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanAn] ON 

INSERT [dbo].[BanAn] ([MaBanAn], [TenBanAn], [KhuVucBanAn], [SucChuaBanAn]) VALUES (1, N'Bàn 01', N'Tầng 1', 4)
INSERT [dbo].[BanAn] ([MaBanAn], [TenBanAn], [KhuVucBanAn], [SucChuaBanAn]) VALUES (2, N'Bàn 02', N'Tầng 1', 6)
INSERT [dbo].[BanAn] ([MaBanAn], [TenBanAn], [KhuVucBanAn], [SucChuaBanAn]) VALUES (3, N'Bàn Sân Vườn 01', N'Ngoài trời', 4)
SET IDENTITY_INSERT [dbo].[BanAn] OFF
GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [SoLuongMonAn], [DonGiaTaiThoiDiemBan]) VALUES (1, 1, 1, 350000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [SoLuongMonAn], [DonGiaTaiThoiDiemBan]) VALUES (1, 4, 1, 30000.0000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [MaMonAn], [SoLuongMonAn], [DonGiaTaiThoiDiemBan]) VALUES (1, 5, 2, 15000.0000)
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHoaDon], [MaBanAn], [NgayLapHoaDon], [TongTienHoaDon], [TrangThaiThanhToan]) VALUES (1, 1, CAST(N'2026-04-27T23:19:43.763' AS DateTime), 410000.0000, N'Chưa thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaBanAn], [NgayLapHoaDon], [TongTienHoaDon], [TrangThaiThanhToan]) VALUES (2, 4, CAST(N'2026-04-27T19:30:00.000' AS DateTime), 0.0000, N'Đã thanh toán')
INSERT [dbo].[HoaDon] ([MaHoaDon], [MaBanAn], [NgayLapHoaDon], [TongTienHoaDon], [TrangThaiThanhToan]) VALUES (3, 2, CAST(N'2026-04-20T18:30:00.000' AS DateTime), 890000.0000, N'Đã thanh toán')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
SET IDENTITY_INSERT [dbo].[ThucDon] ON 

INSERT [dbo].[ThucDon] ([MaMonAn], [TenMonAn], [LoaiMonAn], [GiaBanMonAn], [PhanTramGiamGia], [TrangThaiPhucVu]) VALUES (1, N'Set Lẩu Thái Hải Sản', N'Lẩu', 350000.0000, 0, 1)
INSERT [dbo].[ThucDon] ([MaMonAn], [TenMonAn], [LoaiMonAn], [GiaBanMonAn], [PhanTramGiamGia], [TrangThaiPhucVu]) VALUES (2, N'Ba Chỉ Bò Mỹ Nướng', N'Nướng', 89000.0000, 0.1, 1)
INSERT [dbo].[ThucDon] ([MaMonAn], [TenMonAn], [LoaiMonAn], [GiaBanMonAn], [PhanTramGiamGia], [TrangThaiPhucVu]) VALUES (3, N'Dẻ Sườn Bò Tảng', N'Nướng', 120000.0000, 0.05, 1)
SET IDENTITY_INSERT [dbo].[ThucDon] OFF
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (getdate()) FOR [NgayLapHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT ((0)) FOR [TongTienHoaDon]
GO
ALTER TABLE [dbo].[HoaDon] ADD  DEFAULT (N'Chưa thanh toán') FOR [TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[ThucDon] ADD  DEFAULT ((0)) FOR [PhanTramGiamGia]
GO
ALTER TABLE [dbo].[ThucDon] ADD  DEFAULT ((1)) FOR [TrangThaiPhucVu]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([MaHoaDon])
REFERENCES [dbo].[HoaDon] ([MaHoaDon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_ThucDon] FOREIGN KEY([MaMonAn])
REFERENCES [dbo].[ThucDon] ([MaMonAn])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_ThucDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_BanAn] FOREIGN KEY([MaBanAn])
REFERENCES [dbo].[BanAn] ([MaBanAn])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_BanAn]
GO
ALTER TABLE [dbo].[BanAn]  WITH CHECK ADD  CONSTRAINT [CK_SucChuaBanAn] CHECK  (([SucChuaBanAn]>(0)))
GO
ALTER TABLE [dbo].[BanAn] CHECK CONSTRAINT [CK_SucChuaBanAn]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [CK_SoLuongMonAn] CHECK  (([SoLuongMonAn]>(0)))
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [CK_SoLuongMonAn]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [CK_TrangThaiThanhToan] CHECK  (([TrangThaiThanhToan]=N'Đã hủy' OR [TrangThaiThanhToan]=N'Đã thanh toán' OR [TrangThaiThanhToan]=N'Chưa thanh toán'))
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [CK_TrangThaiThanhToan]
GO
ALTER TABLE [dbo].[ThucDon]  WITH CHECK ADD  CONSTRAINT [CK_GiaBanMonAn] CHECK  (([GiaBanMonAn]>=(0)))
GO
ALTER TABLE [dbo].[ThucDon] CHECK CONSTRAINT [CK_GiaBanMonAn]
GO
ALTER TABLE [dbo].[ThucDon]  WITH CHECK ADD  CONSTRAINT [CK_PhanTramGiamGia] CHECK  (([PhanTramGiamGia]>=(0) AND [PhanTramGiamGia]<=(1)))
GO
ALTER TABLE [dbo].[ThucDon] CHECK CONSTRAINT [CK_PhanTramGiamGia]
GO
/****** Object:  StoredProcedure [dbo].[sp_InBillThanhToan]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_InBillThanhToan]
    @MaHoaDon INT
AS
BEGIN
    SELECT 
        H.[MaHoaDon] AS [Số Bill],
        B.[TenBanAn] AS [Bàn Phục Vụ],
        H.[NgayLapHoaDon] AS [Ngày Giờ In],
        T.[TenMonAn] AS [Tên Món],
        CT.[SoLuongMonAn] AS [Số Lượng],
        CT.[DonGiaTaiThoiDiemBan] AS [Đơn Giá],
        (CT.[SoLuongMonAn] * CT.[DonGiaTaiThoiDiemBan]) AS [Thành Tiền]
    FROM [HoaDon] H
    INNER JOIN [BanAn] B ON H.[MaBanAn] = B.[MaBanAn]
    INNER JOIN [ChiTietHoaDon] CT ON H.[MaHoaDon] = CT.[MaHoaDon]
    INNER JOIN [ThucDon] T ON CT.[MaMonAn] = T.[MaMonAn]
    WHERE H.[MaHoaDon] = @MaHoaDon;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_TinhTongChiTieuCuaBan]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_TinhTongChiTieuCuaBan]
    @MaBanAn INT,
    @TongTienChiTieu MONEY OUTPUT
AS
BEGIN
    SELECT @TongTienChiTieu = SUM(CT.[SoLuongMonAn] * CT.[DonGiaTaiThoiDiemBan])
    FROM [HoaDon] H
    INNER JOIN [ChiTietHoaDon] CT ON H.[MaHoaDon] = CT.[MaHoaDon]
    WHERE H.[MaBanAn] = @MaBanAn 
      AND H.[TrangThaiThanhToan] = N'Đã thanh toán'; 

    SET @TongTienChiTieu = COALESCE(@TongTienChiTieu, 0);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemMonAnMoi]    Script Date: 03/05/2026 10:54:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ThemMonAnMoi]
    @TenMonAn NVARCHAR(100),
    @LoaiMonAn NVARCHAR(50),
    @GiaBan MONEY
AS
BEGIN

    IF EXISTS (SELECT 1 FROM [ThucDon] WHERE [TenMonAn] = @TenMonAn)
    BEGIN

        PRINT N'LỖI: Món ăn "' + @TenMonAn + N'" đã tồn tại trong thực đơn. Vui lòng nhập tên khác!';
        RETURN; 
    END
    ELSE
    BEGIN
      
        INSERT INTO [ThucDon] ([TenMonAn], [LoaiMonAn], [GiaBanMonAn])
        VALUES (@TenMonAn, @LoaiMonAn, @GiaBan);
        
        PRINT N'THÀNH CÔNG: Đã thêm món "' + @TenMonAn + N'" vào thực đơn.';
    END
END;
GO
USE [master]
GO
